$global-color: (
  a:#c2c0be,
  b:#EDECEA,
  c:#525252,
  d:#3a3a3a,
  e:#646464,
  f:#f60,
  g:#5a5a5a,
);

$global-break: (
  sm:768px,
  md:992px,
  lg:1200px
);

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background-color: map-get($global-color, b);
  color: map-get($global-color, d);
  font-weight: 400;
  font-family: "Hiragino Sans GB","微软雅黑","Microsoft JhengHei","WenQuanYi Micro Hei","Helvetica Neue",Verdana,Arial,Helvetica,sans-serif;
  font-size: 14px;
  line-height: 1;
}

main {
  width: 100%;
  min-height: 100%;
  padding-top: 55px;
  padding-bottom: 4em;
  &:after {
    content: "";
    display: block;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: map-get($global-color,d);
  &:hover {
    text-decoration: none;
    color: map-get($global-color,d);
  }
}

.no-padding {
  padding: 0;
}

.no-padding-l {
  padding-left: 0;
}

.no-padding-r {
  padding-right: 0;
}

.no-margin-lr {
  margin-left: 0;
  margin-right: 0;
}

@media(min-width: map-get($global-break,sm)){
  main{
    padding-top: 125px;
  }
}