/*nav*/
nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  background-color: #fff;
}

.navbar-brand {
  display: block;
  height: 100%;
  padding: 0 15px;
  .logo-sm {
    width: 58px;
    padding-top: 12px;
    display: none;
  }
  .logo-big {
    width: 99px;
    padding-top: 10px;
  }
}

.navbar-collapse {
  background-color: #fff;
}

.navbar-toggle {
  height: 100%;
  float: right;
  margin: 0;
  padding: 19px 15px;
  border: none;
  img {
    width: auto;
    height: 16px;
  }
}

.icon-search {
  height: 100%;
  float: right;
  padding: 17px 15px;
  img {
    width: auto;
    height: 21px;
  }
}

.navbar-nav {
  margin: 0;
  padding-bottom: 40px;
  > li {
    padding-left: 15px;
    padding-right: 15px;
    > a {
      padding: 20px 0 5px 0;
      border-bottom: 1px solid map-get($global-color, e);
      color: map-get($global-color, d);
      text-transform: uppercase;
      &:hover {
        background-color: transparent;
      }
      .active-text {
        font-family: "FZLTXHK", "方正兰亭中黑", "Hiragino Sans GB", "微软雅黑", "Microsoft JhengHei", sans-serif;
        font-weight: bold;
        span + span {
          padding-left: 15px;
        }
      }
      .normal-text {
        display: none;
        font-family: "Gotham SSm A", "Gotham SSm B";
        font-weight: 500;
        letter-spacing: 1px;
      }
    }
  }
}

.navbar-collapse {
  width: 100%;
  margin: 0 !important;
  float: left;
}

@media(min-width: map-get($global-break, sm)) {
  nav {
    height: 85px;
    padding-top: 15px;
  }
  .navbar-brand {
    .logo-sm {
      display: none;
    }
  }
  .navbar-collapse {
    width: auto;
  }
  .navbar-nav {
    padding-bottom: 0;
    > li {
      &:first-child, &:nth-child(5) {
        padding-right: 20px;
        .normal-text {
          text-indent: -6px;
        }
      }
      &:nth-child(4) {
        padding-right: 20px;
        .normal-text {
          text-indent: -4px;
        }
      }
      > a {
        width: 46px;
        border-bottom: 2px solid transparent;
        text-align: center;
        .active-text {
          display: none;
        }
        .normal-text {
          display: block;
        }
        &:hover {
          .normal-text {
            display: none;
          }
          .active-text {
            display: block;
          }
        }
        &.is-active {
          border-bottom: 2px solid map-get($global-color, e);
          .active-text {
            display: block;
          }
          .normal-text {
            display: none;
          }
        }
      }
    }
  }
}

/*scroll animate*/
.nav-animated {
  &.is-scroll {
    height: 55px !important;
    padding-top: 0;
    background-color: map-get($global-color, primary);
    transition: .2s all ease-in-out;
    -webkit-transition: .2s all ease-in-out;
    -moz-transition: .2s all ease-in-out;
    .logo-big {
      display: none;
    }
    .logo-sm {
      display: block;
    }
  }
}