@charset "UTF-8";
html {
  width: 100%;
  height: 100%; }

body {
  width: 100%;
  height: 100%;
  background-color: #EDECEA;
  color: #3a3a3a;
  font-weight: 400;
  font-family: "Hiragino Sans GB", "微软雅黑", "Microsoft JhengHei", "WenQuanYi Micro Hei", "Helvetica Neue", Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1; }

main {
  width: 100%;
  min-height: 100%;
  padding-top: 55px;
  padding-bottom: 4em; }
  main:after {
    content: "";
    display: block; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  color: #3a3a3a; }
  a:hover {
    text-decoration: none;
    color: #3a3a3a; }

.no-padding {
  padding: 0; }

.no-padding-l {
  padding-left: 0; }

.no-padding-r {
  padding-right: 0; }

.no-margin-lr {
  margin-left: 0;
  margin-right: 0; }

input, button {
  outline: none;
  -webkit-appearance: none; }

@media (min-width: 768px) {
  main {
    padding-top: 125px; } }
.news-list article h2, .about-con h2 {
  padding-bottom: 1.5em;
  color: #f60;
  letter-spacing: 1px;
  font-family: "Gotham SSm A", "Gotham SSm B";
  font-weight: 500;
  font-size: 15px; }

/*nav*/
nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  background-color: #fff; }

.navbar-brand {
  display: block;
  height: 100%;
  padding: 0 15px; }
  .navbar-brand .logo-sm {
    width: 58px;
    padding-top: 12px; }
  .navbar-brand .logo-big {
    width: 180px; }

.navbar-collapse {
  background-color: #fff; }

.navbar-toggle {
  height: 100%;
  float: right;
  margin: 0;
  padding: 19px 15px;
  border: none; }
  .navbar-toggle img {
    width: auto;
    height: 16px; }

.icon-search {
  height: 100%;
  float: right;
  padding: 17px 15px; }
  .icon-search img {
    width: auto;
    height: 21px; }

.navbar-nav {
  margin: 0;
  padding-bottom: 40px; }
  .navbar-nav > li {
    padding-left: 15px;
    padding-right: 15px; }
    .navbar-nav > li > a {
      padding: 20px 0 5px 0;
      border-bottom: 1px solid #646464;
      font-weight: bold;
      color: #3a3a3a;
      text-transform: uppercase; }
      .navbar-nav > li > a:hover {
        background-color: transparent; }
      .navbar-nav > li > a .active-text {
        font-family: "FZLTXHK", "方正兰亭中黑", "Hiragino Sans GB", "微软雅黑", "Microsoft JhengHei", sans-serif; }
        .navbar-nav > li > a .active-text span + span {
          padding-left: 18px; }
      .navbar-nav > li > a .normal-text {
        display: none;
        font-family: "Gotham SSm A", "Gotham SSm B", sans-serif; }

.navbar-collapse {
  width: 100%;
  margin: 0 !important;
  float: left; }

@media (min-width: 768px) {
  nav {
    height: 125px;
    padding-top: 35px; }

  .navbar-brand .logo-sm {
    display: none; }

  .navbar-collapse {
    width: auto; }

  .navbar-nav {
    padding-bottom: 0; }
    .navbar-nav > li > a {
      width: 50px;
      border-bottom: 2px solid transparent;
      text-align: center; }
      .navbar-nav > li > a .active-text {
        display: none; }
      .navbar-nav > li > a .normal-text {
        display: block; }
      .navbar-nav > li > a:hover .normal-text {
        display: none; }
      .navbar-nav > li > a:hover .active-text {
        display: block; }
      .navbar-nav > li > a.is-active {
        border-bottom: 2px solid #646464; }
        .navbar-nav > li > a.is-active .active-text {
          display: block; }
        .navbar-nav > li > a.is-active .normal-text {
          display: none; } }
/*scroll animate*/
.nav-animated.is-scroll {
  height: 55px !important;
  padding-top: 0;
  transition: .2s all ease-in-out;
  -webkit-transition: .2s all ease-in-out;
  -moz-transition: .2s all ease-in-out; }
  .nav-animated.is-scroll .logo-big {
    display: none; }
  .nav-animated.is-scroll .logo-sm {
    display: block; }

/*footer*/
.footer-con {
  position: relative;
  padding-top: 4em;
  padding-bottom: 8em;
  background-color: #c2c0be;
  color: #525252;
  font-size: 12px;
  font-family: "microsoft yahei", Arial, Verdana, sans-serif;
  line-height: 1.4; }
  .footer-con p {
    margin-bottom: 20px; }
  .footer-con .container {
    position: relative; }
  .footer-con .scroll-up {
    display: none;
    position: fixed;
    width: 35px;
    right: 15px;
    bottom: 30px; }
    .footer-con .scroll-up img {
      width: 100%; }

@media (min-width: 768px) {
  .item-center {
    float: right; }

  .item-right {
    float: right; } }
@media (min-width: 1200px) {
  .scroll-up {
    right: 50% !important;
    margin-right: -600px; } }
.modal {
  display: block;
  background-color: rgba(255, 255, 255, 0.95);
  opacity: 1;
  z-index: 99;
  transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out; }
  .modal .wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 4%;
    padding-left: 15px;
    padding-right: 15px; }
    .modal .wrapper button {
      font-size: 30px;
      padding-bottom: 4em;
      color: #333;
      opacity: 1; }
    .modal .wrapper input {
      width: 100%;
      line-height: 1;
      font-size: 36px;
      background-color: transparent;
      border: 0;
      border-bottom: 4px solid #c2c0be; }

.search-hidden {
  opacity: 0 !important;
  z-index: -99 !important; }

.no-scroll {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0; }

@media (min-width: 992px) {
  .modal .wrapper input {
    font-size: 75px; } }
.swiper-con {
  padding-bottom: 15px; }
  .swiper-con .swiper-wrapper {
    width: 100%;
    height: 100%; }
  .swiper-con a {
    width: 100%; }
  .swiper-con img {
    width: 100%; }

@media (min-width: 768px) {
  .swiper-con {
    padding-left: 7.5px;
    padding-right: 7.5px; } }
.main-loop .item-con {
  padding-bottom: 15px; }
.main-loop a {
  position: relative;
  display: block;
  overflow: hidden; }
  .main-loop a img {
    width: 100%; }
  .main-loop a .hover-con {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 7% 0 0 15px;
    opacity: 0;
    background: linear-gradient(to bottom right, #f20000, #a4000d);
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out; }
  .main-loop a:hover .hover-con {
    opacity: 1; }

.cover-text {
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 1px;
  font-weight: bold;
  color: #fff; }

@media (min-width: 768px) {
  .main-loop .item-con {
    padding-left: 7.5px;
    padding-right: 7.5px; } }
.news-list {
  padding-top: 4em; }
  .news-list .text-con {
    padding-bottom: 1.5em; }
  .news-list article {
    margin: 0;
    border-top: 1px solid #646464;
    padding: 1.5em 0 0 0; }
    .news-list article h1, .news-list article h2 {
      margin: 0; }
    .news-list article h2 {
      border-bottom: 1px solid #c2c0be; }
    .news-list article h1 {
      padding-top: 1.5em;
      padding-bottom: 5px;
      font-size: 14px;
      font-weight: bold;
      color: #646464; }
    .news-list article img {
      display: block;
      width: 100%; }

@media (min-width: 992px) {
  .news-list article img {
    padding-left: 3em; } }
.about-con {
  padding-top: 4em;
  text-align: justify;
  line-height: 1.7;
  color: #5a5a5a; }
  .about-con h2 {
    margin: 0;
    padding-top: 1.5em;
    border-top: 2px solid #c2c0be;
    border-bottom: none; }
  .about-con h3 {
    margin-top: 0;
    font-size: 15px;
    font-weight: bold; }
  .about-con p {
    margin-bottom: 0; }
  .about-con .text-con {
    padding-top: 2em;
    padding-bottom: 2em;
    border-top: 2px solid #c2c0be; }

.detail-con {
  padding-top: 4em; }
  .detail-con .cover-text {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 14px;
    border-top: 2px solid #c2c0be;
    color: #f60; }
  .detail-con .main-text {
    padding: 15px 0 30px 0;
    border-top: 2px solid #c2c0be;
    text-align: justify;
    line-height: 1.7;
    color: #5a5a5a; }
  .detail-con img {
    width: 100%;
    height: auto; }

/*# sourceMappingURL=style.css.map */
