.swiper-con {
  padding-bottom: 15px;
  img {
    width: 100%;
  }
}

.modal {
  background-color: rgba(255, 255, 255, .8);
}

@media(min-width: map-get($global-break, sm)) {
  .swiper-con {
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
}