.swiper-con {
  padding-bottom: 15px;
  .swiper-wrapper{
    width: 100%;
    height: 100%;
  }
  a {
    width: 100%;
  }
  img {
    width: 100%;
  }
}

@media(min-width: map-get($global-break, sm)) {
  .swiper-con {
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
}