.detail-con {
  padding-top: 4em;
  .cover-text {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 14px;
    border-top: 2px solid map-get($global-color, a);
    color: map-get($global-color, f);
  }
  .main-text {
    padding: 15px 0 30px 0;
    border-top: 2px solid map-get($global-color, a);
    text-align: justify;
    line-height: 1.7;
    color: map-get($global-color, g);
  }
  img {
    width: 100%;
    height: auto;
  }
}